[Desktop Entry]
Encoding=UTF-8
Name=Link to Gmail
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&view=bsp&ver=ohhl4rw8mbn4#inbox
Icon=text-html
